* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 15px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: hsl(248, 92%, 48%);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

nav a:hover {
    color: hsl(248, 92%, 48%);
}

.banner {
    background: linear-gradient(to right, #0897df, #e20606);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.banner h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 25px;
}

.banner button {
    padding: 12px 25px;
    border: none;
    background-color: white;
    color: hsl(248, 92%, 48%);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.banner button:hover {
    background-color: #222;
    color: white;
}

.product{
  padding: 50px 8%;
}

.product h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card{
  background-color: rgb(241, 243, 243);
  border-radius: 10px;
  padding: 15px;
  text-align: center;

  box-shadow:0 3px 10px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.product-card:hover{
  transform: translateY(-5px);
}

.product-card img{
  width: 25%;
  height: 200px;
  object-fit: cover;
  border-radius: 8 px;
}

.product-card h3{
  margin: 15px 0 8px;
}

.price{
  color: #ff9800;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.product-card button{
  background-color: aquamarine;
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover{
  background-color: #f5f5f5;
}

@media (max-width: 900px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        margin: 0 8px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .product-container {
        grid-template-columns: 1fr;
    }
}
